@use "../../style/" as *;

.line {
  width: 2px;
  height: 268px;
  position: fixed;
  top: 50%;
  left: 150px;
  transform: translateY(-50%);
  z-index: 1;
  background-color: rgba(0, 177, 171, 0.2);
  transition: all 0.1s;
  opacity: 0;

  &__thumb {
    position: absolute;
    top: 75%;
    display: block;
    height: 25%;
    width: 100%;
    background-color: #34f3d0;
    transition: all 0.2s;
  }

  @include medium-tablet {
    left: 16px;
  }

  @include large-mobile {
    display: none;
  }
}
